#dropdown{
    height: 30px;
    margin-left: 5px;
    width: 340px;
    background-color: whitesmoke;
    font-family:'poppins';
    font-size: 14px;
    border: solid 1px whitesmoke
}
#dropdown1{
    height: 30px;
    margin-left: 5px;
    width: 340px;
    background-color: white;
    font-family:'poppins';
    font-size: 14px;
    border: solid 1px lightgrey
}